body {
  background-color: hsl(220, 13%, 18%);
}

.App {
  text-align: center;
  color: white;
  line-height: 1.5em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-title {
  /* Prevent line breaks in the middle of words. See https://allabout.co.jp/gm/gc/23789/ */
  display: inline-block;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}

.App-link {
  color: #61dafb;
}
